---
import { Card, CardContent, CardHeader, CardTitle } from "./ui/card";
import type { ComicMeta } from "@/models/comic";
import { Image } from "astro:assets";
import { lowerCaseKebab } from "@/utils/helpers";
import { Badge } from "./ui/badge";

interface Props {
	comic: ComicMeta;
	className?: string;
	isLazyImage?: boolean;
}

const { comic, className, isLazyImage = false } = Astro.props;
const { title, type, chapter } = comic;
const latestChapters = [chapter, chapter - 1].filter((ch) => ch > 0);
---

<Card className={`group overflow-hidden ${className}`}>
	<CardHeader className="relative p-0">
		<a href={`/comics/${lowerCaseKebab(title)}`}>
			<div class="relative aspect-[3/4] overflow-hidden rounded-t-lg">
				<Image
					src={`/src/assets/comics/${lowerCaseKebab(title)}/cover.jpg`}
					alt={title}
					class="object-cover object-center w-full h-full transition-transform duration-300 group-hover:scale-110"
					width={300}
					height={400}
					loading={isLazyImage ? "lazy" : "eager"}
				/>
				<Badge
					className="absolute right-2 top-2 bg-primary text-primary-foreground">
					{type}
				</Badge>
			</div>
			<CardTitle
				className="px-4 py-2 text-base line-clamp-2 group-hover:text-primary transition-colors">
				{title}
			</CardTitle>
		</a>
	</CardHeader>
	<CardContent className="p-4 pt-0">
		{
			latestChapters.map((ch) => (
				<a
					href={`/comics/${lowerCaseKebab(title)}/chapter-${ch}`}
					class="block">
					<div class="flex justify-between py-1 text-sm hover:bg-muted rounded px-2 transition-colors">
						<span>Chapter {ch}</span>
						<span class="text-muted-foreground">20h ago</span>
					</div>
				</a>
			))
		}
	</CardContent>
</Card>
